<!doctype html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/yui.2.css" />
  <link rel="stylesheet" type="text/css" href="/static/global.css" />
  <style>.boxcontent img {display: block; margin: auto; }</style> 
  <title>eikenchan - 404 Not Found</title> 
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37694510-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
  <div id="doc">
    <div id="hd">
      <div id="logo">
        <h1>
          <a href="/">eikenchan</a>
        </h1>
      </div>
    </div>
    <div id="bd">
      <div class="box-outer top-box">
        <div class="box-inner">
          <div class="boxbar">
            <h2>404 Not Found</h2>
          </div>
          <div class="boxcontent">
            <img src="/static/404/{{imgId}}.jpg" alt="404 Not Found">
          </div>
        </div>
      </div>
    </div>
    <div id="ft">
      <br class-"clear-bug">
    </div>
  </div>
</body>
</html>