<!doctype html>
<meta charset="UTF-8">

<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script type="text/javascript" src="/static/main.js"></script>
  <title>{{boardTitle}}</title>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37694510-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
  <div class="boardNav">
    [<a href="/eiken/">eiken</a>]
    <span id="navtopright">[<a href="/">Home</a>]</span>
  </div>
  <div class="boardBanner">
    <div class="boardTitle">{{boardTitle}}</div>
  </div>

  <hr>

  {% block postingmode %}{% endblock %}

  <form enctype="multipart/form-data" method="post" action="{{uploadUrl}}">
    {% if threadNum %}<input type="hidden" value="{{threadNum}}" name="resto"></input>{% endif %}
    <table class="postForm" id="postForm">
      <tbody>
        <tr>
          <td>Name</td>
          <td><input name="username" type="text"></td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><input type="text" name="email"></td>
        </tr>
        <tr>
          <td>Subject</td>
          <td><input name="subject" type="text"><input type="submit" value="Submit"></td>
        </tr>
        <tr>
          <td>Comment</td>
          <td><textarea id="comment" name="comment" cols="48" rows="4" wrap="soft"></textarea></td>
        </tr>
        <tr>
          <td>File</td>
          <td><input id="postFile" type="file" name="upfile"></td>
        </tr>
      </tbody>
    </table>
  </form>
  
  <hr>

  <div class="board">
    {% block boardblock %}
    {% endblock %}
  </div>

  {% block pagelist %}
  {% endblock %}

  <div class="boardNav">
    [<a href="/eiken/">eiken</a>]
  </div>
</body>
</html>