<!doctype html>
<meta charset="UTF-8">

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/yui.2.css" />
  <link rel="stylesheet" type="text/css" href="/static/global.css" />
  <link rel="stylesheet" type="text/css" href="/static/faq.2.css"/>
  <title>eikenchan - FAQ</title>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37694510-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
  <div id="doc">
    <div id="hd">
      <div id="logo">
        <h1>
          <a href="/">eikenchan</a>
        </h1>
      </div>
    </div>
    <div id="bd">
      <div class="box-outer top-box" id="announce">
        <div class="box-inner">
          <div class="boxbar">
            <h2>Frequently Asked Questions</h2>
          </div>
          <div class="boxcontent">
            <p>Welcome to eikenchan's <strong>F</strong>requently
              <strong>A</strong>sked <strong>Q</strong>uestions page!</p>
          </div>
        </div>
      </div>
      <div class="yui-g">
        <div class="yui-u first">
          <div class="box-outer left-box">
            <div class="box-inner">
              <div class="boxbar">
                <h2>Questions</h2>
              </div>
              <div class="boxcontent">
                <ul>
                  <li>
                    <a href="#basics">Basics</a>
                    <ul>
                      <li>
                        <a href="#whateikenchan">What is eikenchan?</a>
                      </li>
                      <li>
                        <a href="#whatbasics">What should I know before I post?</a>
                        <ul>
                          <li>
                            <a href="#postanon">How do I post anonymously?</a>
                          </li>
                          <li>
                            <a href="#register">Can I register a username?</a>
                          </li>
                          <li>
                            <a href="#postimage">Must I post an image?</a>
                          </li>
                          <li>
                            <a href="#replyimage">Can I reply with an image?</a>
                          </li>
                          <li>
                            <a href="#quote">How do I quote somebody?</a>
                          </li>
                          <li>
                            <a href="#trip">How do I use a "tripcode"?</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#culture">Culture</a>
                    <ul>
                      <li>
                        <a href="#whoiseiken">Who is "Eiken"?</a>
                      </li>
                      <li>
                        <a href="#get">What are "GETs"?</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#technical">Technical</a>
                    <ul>
                      <li>
                        <a href="#software">What software does eikenchan use?</a>
                      </li>
                      <li>
                        <a href="#hardware">What hardware does eikenchan run on?</a>
                      </li>
                      <li>
                        <a href="#personalinfo">What personal information is collected?</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#about">About</a>
                    <ul>
                      <li>
                        <a href="#open">When did eikenchan open?</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="yui-u">
          <div class="box-outer right-box">
            <div class="box-inner">
              <div class="boxbar">
                <h2>
                  <a name="basics">Basics</a>
                </h2>
              </div>
              <div class="boxcontent">
                <dl>
                  <dt class="first" id="whateikenchan">What is eikenchan?</dt>
                  <dd>
                    <p>
                      eikenchan is a simple image-based bulletin board where
                      anyone can post comments and share images. eikenchan's collaborative-community
                      format is copied from one of the most popular forums in America,
                      4chan. A board is dedicated to different topics, from Japanese
                      anime, manga and culture to videogames, musics, and photography.
                      Users do not need to register a username before participating in
                      the community.
                    </p>
                  </dd>
                  <dt id="whatbasics">What should I know before I post?</dt>
                  <dd>
                    <p>
                      Users are encouraged to participate actively in our community,
                      but only after they have familiarised themselves with the rules
                      (there aren't any) and this FAQ. Breaking the rules will not 
                      result in post deletion, a temporary ban or permanent banishment
                      because there aren't any rules.
                    </p>
                  </dd>
                  <dt id="postanon">How do I post anonymously?</dt>
                  <dd>
                    <p>
                      To post as "Anonymous", simply do not fill in the [Name]
                      field when submitting content. Information such as your
                      personal IP address is not even viewable to the administrator
                      because I don't know how.
                    </p>
                  </dd>
                  <dt id="register">Can I register a username?</dt>
                  <dd>
                    <p>
                      No user registration process is available. If you're
                      worried about somebody imporsonating you, consider using
                      a <a href="#trip">tripcode</a> to help validate your
                      identity.
                    </p>
                  </dd>
                  <dt id="postimage">Must I post an image?</dt>
                  <dd>
                    <p>
                      To start a new thread, you must attach an image. eikenchan
                      <em>is</em> primarily an <strong>image</strong>board after
                      all! When replying to an already existing thread, no
                      attachment is required.
                    </p>
                  </dd>
                  <dt id="replyimage">Can I reply with an image?</dt>
                  <dd>
                    <p>
                      Yes. To reply to a thread with an image of your own,
                      click the [Reply] link and fill in the post box as you
                      normally would, making sure to specify an image for
                      attachment.
                    </p>
                  </dd>
                  <dt id="quote">How do I quote somebody?</dt>
                  <dd>
                    <p>
                      To quote a portion of text, simple place a pointer ("&gt;")
                      in front of the text you wish to highlight (ex.
                      <span style="color:#789922">"&gt;This is a quote"</span>).
                      To link to and highlight an entire post, place two pointers
                      in front of its unique post number (ex.
                      "<span style="color:#000080">&gt;&gt;210981</span>").
                    </p>
                  </dd>
                  <dt id="trip">How do I use a "tripcode"?</dt>
                  <dd class="last">
                    <p>
                      Tripcodes can help verify a user's identity to others,
                      and are a type of <em>pseudo</em>-registration. To use a
                      normal tripcode, place a hash mark ("#") followed by a
                      word of short phrase after what you've entered into the
                      [Name] field (ex. "User#password"). Upon submission, the
                      server will generate the hash unique to that particular
                      word or phrase. The previous example would display
                      <span style="color:#000080"><strong>User</strong>
                      !2TPP8kKr4G</span> after being posted.
                    </p>
                    <br>
                    <p>
                      <strong>Important note:</strong> A tripcode is generated
                      only using the text entered after the hash mark. Your
                      entered name, IP address, cookie information, etc. do not
                      affect the output. Tripcodes are <em>not</em> secure; they
                      can be cracked with relative ease.
                    </p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="box-outer right-box">
            <div class="box-inner">
              <div class="boxbar">
                <h2>
                  <a name="culture">Culture</a>
                </h2>
              </div>
              <div class="boxcontent">
                <dl>
                  <dt class="first" id="whoiseiken">Who is "Eiken"?</dt>
                  <dd>
                    <p>
                      Me.
                    </p>
                  </dd>
                  <dt id="get">What are "GETs"?</dt>
                  <dd class="last">
                    <p>
                      "GETs" happen on the approach to significant or unique
                      post numbers on the board (ex. "2GET", "11GET", etc.).
                      GETs are sought after by many, and normally multiple users
                      will compete for one, often posting quite quickly in order
                      to better their chances of achieving the desired GET number.
                    </p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="box-outer right-box">
            <div class="box-inner">
              <div class="boxbar">
                <h2>
                  <a name="technical">Technical</a>
                </h2>
              </div>
              <div class="boxcontent">
                <dl>
                  <dt class="first" id="software">What software does eikenchan user?</dt>
                  <dd>
                    <p>
                      eikenchan runs a Python web framework called webapp2. It is
                      derived from webapp. Currently there are no plans to
                      make our code available to the public (although I've got
                      no problem doing so if someone asks for it).
                    </p>
                  </dd>
                  <dt id="hardware">What hardware does eikenchan run on?</dt>
                  <dd>
                    <p>
                      eikenchan is probably powered by one server, and averages
                      just over 0Gbps in bandwidth throughput. (To be precise,
                      average throughput is about 0.1 gigabits per day.)
                    </p>
                  </dd>
                  <dt class="last" id="personalinfo">What personal information is collected?</dt>
                  <dd>
                    <p>
                      eikenchan does not collect user information for postings.
                      Once a post is pruned or deleted, it is removed from our
                      web server. We value the privacy of our users, and will not
                      make private information such as IP addresses available to
                      others, except to comply with court orders or to cooperate
                      with law enforcement agencies when appropriate.
                    </p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="box-outer right-box">
            <div class="box-inner">
              <div class="boxbar">
                <h2>
                  <a name="about">About</a>
                </h2>
              </div>
              <div class="boxcontent">
                <dl>
                  <dt class="first" id="open">When did eikenchan open?</dt>
                  <dd class="last">
                    <p>
                      eikenchan opened to the public on Christmas Day 2012.
                      Initially, it only supported text-based posts, and lacked
                      many other popular features such as threads and tripcodes.
                    </p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="ft">
      <ul>
        <li class="fill"></li>
        <li class="first">
          <a href="/">Home</a>
        </li>
        <li class="current">
          <a href="/faq">FAQ</a>
        </li>
        <li>
          <a href="/japanese">日本語</a>
        </li>
      </ul>
      <br class="clear-bug">
    </div>
  </div>
</body>
</html>