<!doctype html>
<meta charset="UTF-8">

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/yui.2.css"/>
  <link type="text/css" rel="stylesheet" href="/static/global.css" />
  <title>eikenchan</title>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37694510-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
  <div id="doc">
    <div id="hd">
      <div id="logo">
        <h1>
          <a href="/">eikenchan</a>
        </h1>
      </div>
    </div>
    <div id="bd">
      <div class="box-outer" id="announce">
        <div class="box-inner">
          <div class="boxbar">
            <h2>What is eikenchan?</h2>
          </div>
          <div class="boxcontent">
            <p>eikenchan is a simple image-based bulletin board where anyone
              can post comments and share images. There is a board dedicated to a variety of
              topics, from Japanese animation and culture to videogames,
              music, and photography. Users do not need to register an account
              before participating in the community. Feel free to click on the
              board that interest you and jump right in!</p>
            <br>
            <p>Be sure to read the <a href="/faq">FAQ</a> if you wish to
              learn more.</p>
          </div>
        </div>
      </div>
      <div class="box-outer top-box" id="boards">
        <div class="box-inner">
          <div class="boxbar">
            <h2>Boards</h2>
          </div>
          <div class="boxcontent">
            <div class="column">
              <h3 style="text-decoration: underline; display: inline;">
                Eiken Culture
              </h3>
              <ul>
                <li>
                  <a href="/eiken/" class="boardlink">Eiken</a>
                </li>
              </ul>
            </div>
            <br class="clear-bug">
          </div>
        </div>
      </div>
    </div>
    <div id="ft">
      <ul>
        <li class="fill"></li>
        <li class="first current">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>
        <li>
          <a href="/japanese">日本語</a>
        </li>
      </ul>
      <br class="clear-bug">
    </div>
  </div>
</body>
</html>