<!doctype html>
<meta charset="UTF-8">

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/yui.2.css"/>
  <link type="text/css" rel="stylesheet" href="/static/global.css" />
  <title>eikenchan</title>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37694510-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
  <div id="doc">
    <div id="hd">
      <div id="logo">
        <h1>
          <a href="/">eikenchan</a>
        </h1>
      </div>
    </div>
    <div id="bd">
      <div class="box-outer" id="announce">
        <div class="box-inner">
          <div class="boxbar">
            <h2>日本語</h2>
          </div>
          <div class="boxcontent">
            <h3>ようこそ、eikenchanへ！</h3>
            <p>eikenchanは、アメリカの有名な「4chan」の非公式姉妹サイトになることを目的に
              設立されました。もちろん、4chanの座を乗っ取ろうちうわけではありませんが…
              アメリカと同じような掲示板群を、英語で作りあげようとしているのです。完成までは
              長くて険しいけれど、みんなの協力があるときっと良いコミュニティ‐・文化がてきる
              と思います。</p>
            <p>eikenchanは誰でも気軽に参加できます。しかし、このサイトでの争いごとは
              やめてください。争いはみんなの雰囲気を悪くするだけです。それさえ守って
              いただけるならば是非友達に教えてあげてください。日本人も英語を使うならば
              同じように歓迎します。</p>
            <p>このサイトはまだ建設中なので、不完全ですが、我慢してください。サイトを
              改善するためのていあんを是非<a href="mailto:acairncross@gmail.com">Aiken</a>に
              メールで送ってください。</p>
            <p>それでは、ゆっくり楽しんでいってください！</p>
          </div>
        </div>
      </div>
    </div>
    <div id="ft">
      <ul>
        <li class="fill"></li>
        <li class="first">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/faq">FAQ</a>
        </li>
        <li class="current">
          <a href="/japanese">日本語</a>
        </li>
      </ul>
      <br class="clear-bug">
    </div>
  </div>
</body>
</html>